.body{
   
}
/* Nav-bar */
.back-ground{
    background-color: #1F2937;
    height: 600px;

}
.flex-container{
    display: flex;
    background-color:#1F2937 ;
    color: aliceblue;
    height: 60px;
    justify-content:space-between;
}


a:link{
    color:aliceblue;


}   
.flex-container > div.header{
    margin-left: 230px;
    font-size: 24px;
    color: #F9FAF8;
    align-self: center;
    float: right;
    
}


.flex-container > div.links{
    font-size: 18px;
    color: #E5E7EB;
    align-self: center;
    margin-left: auto;
    float: left;
    margin: 20px;
    margin-right: 230px;
}

/* The awesome website and the image paragraph part*/
.hero-main{
    font-family:'Roboto Mono',monospace;
    font-weight:bolder;
    font-size: 48px;
    color: #F9FAF8; 
    margin-bottom: auto;
    margin-left:230px ;

}
.cat-image{
    height:430px;
    width: 800px;
    float: right;
    margin-right: 230px;
    
}
.sign-up1{
    background-color: #3882F6;
    color: #E5E7EB;
    border:none;
    height: 30px;
    width: 120px;
    border-radius: 10px;
    margin-left:230px ;
    
}
.hero-sub{
    font-size: 18px;
    color: #E5E7EB;
    margin-left:230px ;
    
}
/* The random information paragraph and the images*/



    
    

















/*inspiring quote part*/

.inspiring-quote{
    background-color: #E5E7EB;
    height: 250px;
    padding: 10px;
}
.quote{
    font-size: 36px;
    font-style: italic;
    color: #1F2837;
    margin-left:330px;
    margin-right:330px;
}
.thor-shit{
    text-align: justify;
    text-align-last: right;
    font-size:2em;
    margin-right: 330px;
    
}



/*sign up paragrapgh and the signup button*/

.sign-up{
    margin-right:230px;
    margin-left:230px;
    background-color:#3882F6;
    border: none;
    border-radius:20px ;
    height: 100px;
    
}
.action-call{
    font-size: 18px;
    padding-top: 30px;
    padding-left: 30px;
    padding-bottom: 0px;
    
}
.paragraph{
    padding:1px;
    margin-left: 20px;
    
}


.sign-up2{                      /*signup button*/
    background-color: #3882F6;
    color: #E5E7EB;
    border-color: #E5E7EB;
    height: 30px;
    width: 120px;
    border-radius: 5px;
    float:right;
    margin-right: 230px;
    margin-top: 25px;
    
}